<mat-card>
  <mat-card-title>Crear Alumno</mat-card-title>
  <form [formGroup]="signInForm" ><!-- (ngSubmit)="submitForm()" -->

    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" placeholder="Ej: Raúl" formControlName="name" required>
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="signInForm.get('name')?.hasError('required')">{{USER_ERRORS.name.notProvided}}</mat-error>
      <mat-error *ngIf="signInForm.get('name')?.hasError('minlength')">{{USER_ERRORS.name.minLength}}</mat-error>
      <mat-error *ngIf="signInForm.get('name')?.hasError('maxlength')">{{USER_ERRORS.name.maxLength}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Primer apellido</mat-label>
      <input matInput type="text" placeholder="Ej: Bravo" formControlName="surname1">
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="signInForm.get('surname1')?.hasError('required')">{{USER_ERRORS.lastname.notProvided}}</mat-error>
      <mat-error *ngIf="signInForm.get('surname1')?.hasError('minlength')">{{USER_ERRORS.lastname.minLength}}</mat-error>
      <mat-error *ngIf="signInForm.get('surname1')?.hasError('maxlength')">{{USER_ERRORS.lastname.maxLength}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Segundo apellido</mat-label>
      <input matInput type="text" placeholder="Ej: López" formControlName="surname2">
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="signInForm.get('surname2')?.hasError('minlength')">{{USER_ERRORS.lastname.minLength}}</mat-error>
      <mat-error *ngIf="signInForm.get('surname2')?.hasError('maxlength')">{{USER_ERRORS.lastname.maxLength}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Ej: raulb@gmail.com" formControlName="email">
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="signInForm.get('email')?.hasError('required')">{{USER_ERRORS.email.notProvided}}</mat-error>
      <mat-error *ngIf="signInForm.get('email')?.hasError('email')">{{USER_ERRORS.email.invalid}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>DNI</mat-label>
      <input matInput type="text" placeholder="Ej: 50456092G" formControlName="dni">
      <mat-icon matSuffix>event_note</mat-icon>
      <mat-error *ngIf="signInForm.get('dni')?.hasError('required')">{{USER_ERRORS.dni.notProvided}}</mat-error>
      <mat-error *ngIf="signInForm.get('dni')?.hasError('pattern')">{{USER_ERRORS.dni.invalid}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Teléfono 1</mat-label>
      <span matPrefix>+34 &nbsp;</span>
      <input matInput type="text" placeholder="Ej: 601 786 930" formControlName="phone1">
      <mat-icon matSuffix>contact_phone</mat-icon>
      <mat-error *ngIf="signInForm.get('phone1')?.hasError('required')">{{USER_ERRORS.phone.notProvided}}</mat-error>
      <mat-error *ngIf="signInForm.get('phone1')?.hasError('pattern')">{{USER_ERRORS.phone.invalid}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Teléfono 2</mat-label>
      <span matPrefix>+34 &nbsp;</span>
      <input matInput type="text" placeholder="Ej: 601 786 930" formControlName="phone2">
      <mat-icon matSuffix>contact_phone</mat-icon>
      <mat-error *ngIf="signInForm.get('phone2')?.hasError('pattern')">{{USER_ERRORS.phone.invalid}}</mat-error>
    </mat-form-field>

    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <div>
      <button mat-raised-button color="primary" type="submit" [disabled]="signInForm.invalid">Continuar</button>
      <button mat-raised-button color="accent" mat-dialog-close>Cancelar</button>
    </div>

  </form>
</mat-card>
